.hero {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
  }

  &_title {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 21px;
  }

  &_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
  }

  &_button {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 4px 22px 4px 23px;
    border: none;
    margin-top: 32px;

    color: rgba(0, 0, 0, 0.87);
    background: #f4e041;
    border-radius: 80px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;

    &:hover {
      background-color: #ffe302;
    }

    &:disabled {
      background-color: #b4b4b4;
      color: rgba(255, 255, 255, 0.87);
    }
  }
}

@media screen and(min-width: 1170px) {
  .hero {
    height: 650px;
    background-size: cover;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/hero-1170-min.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/hero-1170x2-min.jpg);
    }
  }
}
