.container {
  width: 1170px;
  margin: 0 auto;

  @media screen and (max-width: 359px) {
    width: 100%;
  }

  @media screen and (min-width: 360px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
  }

  @media screen and (min-width: 1170px) {
    width: 1170px;
  }
}

.container_success {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 100px;

  @media screen and (max-width: 500px) {
    text-align: center;
    padding: 0 15px;
  }
}

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 50px;
}

.img {
  @media screen and (max-width: 500px) {
    width: 300px;
  }
}
