.working {
  &_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 140px;
  }

  &_title {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 50px;
  }
}
